<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="11028">
        <setting id="username" type="text" default="" label="11001"/>
        <setting id="password" type="text" default="" option="hidden" label="11002"/>
    </category>

    <category label="11054">
        <setting id="my_recently_played_playlist_name" type="text" default="My Recently Played"
                 label="11069" help="Disable by setting string to NONE"/>
        <setting id="gap_between_playlist_tracks" type="number" default="0" label="11070"
	         help="Gap between tracks when playing a playlist (secs)"/>
        <setting id="use_spotify_normalization" type="bool" default="true" label="11075">
          <control type="toggle"/>
        </setting>
    </category>

    <category label="11055">
        <setting id="categoryDefaultView" type="text" default="" label="11020"/>
        <setting id="playlistDefaultView" type="text" default="" label="11031"/>
        <setting id="artistDefaultView" type="text" default="" label="11032"/>
        <setting id="albumDefaultView" type="text" default="" label="11033"/>
        <setting id="songDefaultView" type="text" default="" label="11034"/>
        <setting id="appendArtistToTitle" type="bool" default="false" label="11030"/>
    </category>
</settings>
